.fotos{
    background-color: aqua;
    align-items: center;
    text-align: center;
    
}
.letras{
    font-size: large;
    font-weight: bold;
    color: black;
    align-items: center;
    text-align: center;

}